@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

$background-color: #121212;
$nav-color: #1f1f1f;
$link-color: #eee;
$link-hover: #6c63ff;
$button-bg: #6c63ff;
$button-hover: #5750d1;
$button-text: #fff;
$primary-color: #6c63ff;
$input-bg: #1e1e1e;
$input-border: #333;
$text-color: #eee;
$error-color: #ff6b6b;
$success: #2b792b;
$box-bg : #372e2e;
$base-font: "Zain", sans-serif;;
$font-playful: "Rubik Distressed", system-ui;



