@use "./Global/variables.scss" as vars;


:root{
  font-family: vars.$base-font;
}
html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
}


.appContainer {
  background-color: vars.$background-color;
  min-height: 100vh;
  color: vars.$link-color;
}

.navbar {
  background-color: vars.$nav-color;
  height: 5vh; // ⬅️ c'est ça qui fixe la hauteur à 10% de l'écran
  padding: 0 2rem; // enlève le padding vertical pour ne pas dépasser les 10vh
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.navLeft,
.navRight {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navLink {
  color: vars.$link-color;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;

  &:hover {
    color: vars.$link-hover;
  }
}

.userInfo {
  font-weight: 500;
}

.logoutButton {
  background-color:vars.$button-bg;
  color: vars.$button-text;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: vars.$button-hover;
  }
}
